<div>

  <div class="header">
    <p>Mischief Cinema</p>
    <p class="subHeader">Nothing is certain here!</p>
  </div>

  <div class="daySelector">

    <div class="dropdown">
      <select class="dropdown-select" [(ngModel)]="selectedGenre">
        <option value="">All Genres</option>
        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
      </select>
    </div>
    <div class="day" (click)="recommendMovies(); recommendationTriggered = true;">Recommend by history</div>
    <div class="day" (click)="this.dayIndex = -1; recommendationTriggered = false;">All</div>
    <div class="day" (click)="this.dayIndex = 0; recommendationTriggered = false;">Mon</div>
    <div class="day" (click)="this.dayIndex = 1; recommendationTriggered = false;">Tue</div>
    <div class="day" (click)="this.dayIndex = 2; recommendationTriggered = false;">Wed</div>
    <div class="day" (click)="this.dayIndex = 3; recommendationTriggered = false;">Thu</div>
    <div class="day" (click)="this.dayIndex = 4; recommendationTriggered = false;">Fri</div>
    <div class="day" (click)="this.dayIndex = 5; recommendationTriggered = false;">Sat</div>
    <div class="day" (click)="this.dayIndex = 6; recommendationTriggered = false;">Sun</div>

  </div>

  <div class="dayContainer" *ngIf="!recommendationTriggered && movies">

    <div *ngFor="let movie of filterMovies(); let i = index">

      <div class="movie" (click)="showPopup(this.movie, getMovieImagePath(i))">
        
        <img class="image" [src]="getMovieImagePath(i)">
        <p class="primaryTitle">{{movie.primaryTitle}}</p>
        <p class="originalTitle">{{movie.originalTitle}}</p>
        
        <div class="movieFooter">
          <p class="startYear">{{movie.startYear}}</p>
          <p class="runtimeMinutes">{{movie.runtimeMinutes}} minutes</p>
        
        </div>

      </div>

    </div>

  </div>
  <div class="dayContainer" *ngIf="recommendationTriggered && recommendedMovies">

    <div *ngFor="let movie of recommendedMovies; let i = index">

      <div class="movie" (click)="showPopup(this.movie, getMovieImagePath(i))">
        
        <img class="image" [src]="getMovieImagePath(i)">
        <p class="primaryTitle">{{movie.primaryTitle}}</p>
        <p class="originalTitle">{{movie.originalTitle}}</p>
        
        <div class="movieFooter">
          <p class="startYear">{{movie.startYear}}</p>
          <p class="runtimeMinutes">{{movie.runtimeMinutes}} minutes</p>
        
        </div>

      </div>

    </div>

  </div>

  <div class="popupContainer" [class.visible]="isPopupVisible">
    <div class="popupContent" (click)="$event.stopPropagation()">
      <div class="movieInfo">
        <p class="popUpPrimaryTitle">{{selectedMovie?.primaryTitle}}</p>
        <img class="popImage" [src]=this.popUpImg>
        <div class="ratingContainer" *ngIf="this.ratings">
          <div class="rating">{{this.ratings.rating}}/10</div>
          <div class="ratingCount">{{this.ratings.ratingCount}} votes</div>
        </div>

      </div>
      <div class="seatSelection">
        <app-seating></app-seating>
      </div>
      <p class="exit" (click)="closePopup()">X</p>
    </div>
    <div class="buttonContainer">
      <button (click)="submitMovie(selectedMovie)" class="watch">Buy</button>
    </div>
    
  </div>
  
</div>